/.DS_Store
/Extra
/Lecture_10
/Lecture_11
/Lecture_12
/Lecture_13
/Lecture_14
/Lecture_15
/Lecture_16
/Lecture_17
/Lecture_18
/Lecture_19
/Lecture_20
/Lecture_21
/Lecture_22
/Lecture_23
/Lecture_24
/Lecture_26
/Lecture_27
/Lecture_28
/Lecture_29
/Lecture_3
/Lecture_30
/Lecture_31
/Lecture_32
/Lecture_34
/Lecture_35
/Lecture_36
/Lecture_37
/Lecture_38
/Lecture_4
/Lecture_4(1)
/Lecture_5
/Lecture_6
/Lecture_7
/Lecture_8
/Lecture_9
/index.html
/node_modules
/package-lock.json
/package.json